:host {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    li {
      span {
        font-weight: bold;
        
        &.user {
          color: green;
        }

        &.userGroup {
          color: blue;
        }

        &.negative {
          color: red;
        }
      }
    }
  }
}