<mat-card>
  <mat-card-content>
    <form [formGroup]="permissionForm">
      <input type="hidden" formControlName="id">
      <div>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
      </div>

      <div class="action-bar-container">
        <button mat-raised-button color="primary" (click)="savePermissionClicked($event)">Save</button>
        <button mat-raised-button routerLink="/permissions">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
